<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <style>
        body { background: #333; margin: 1.25rem }
        h1 { color: #EEE; font-family: sans-serif }
        a { color: yellow; font-size: 2rem; font-family: sans-serif }
    </style>
</head>
<body>
<div class="text-white text-4xl font-bold">
    Header
</div>
{{{ body }}}
</body>
</html>
